a:hover {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb-wrapper
{
    font-size: 83%;
	line-height: 2;
	margin-bottom: 10px;
}


.header {
    background-color: #ffffff;
	border: solid 2px #ebedef;
    margin-bottom: 25px;
	padding: 10px;
}

.header--title-container {
    padding-left: 30px;
}

.header--title {

}

.logged-as-label {
    color:#ECF0F1;
}

.nav.nav-tabs {
    cursor: pointer;
}

.ideas-completed, .ideas-started, .ideas-planned, .ideas-considered
{
	border: 1px solid #3498DB;
	border-radius:5px;

	margin-bottom:10px;
	padding-left: 15px;
	padding-right: 15px;
}

.ideas-started
{
	border-color:#2ECC71;
}

.ideas-planned
{
	border-color:#F1C40F;
}

.ideas-considered
{
	border-color:#95A5A6;
}



.vote-count-box
{
	width: 60px;
	text-align:center;
	border:1px solid #3498DB;
	border-radius:5px;
	padding-top:4px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2px
}

.view-idea-vote
{
	width: 100%;
	max-width: 200px;
	margin-left:auto;
	margin-right:auto;
}



.vote-label
{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}


.comment-box
{
	margin-top:10px;
	border: 1px solid #C0C0C0;
	border-radius:3px;
	padding-left:5px;
	padding-top:3px;
}
.comment-text
{
	padding:10px;
	line-height: normal;
	font-size: 83%;
}


.sidemenu
{
	border:1px solid #C0C0C0;
	border-radius:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	margin-bottom:10px;
	margin-top:10px;
}


.footer
{
	text-align:center;
	font-size: 83%;
}


/* Line up labels and badges with text better */
.label, .badge { 
	vertical-align:2px;
}

.sub_login_button_style {
	color: #2C71F5;
	background-color: #fff;
	border: 1px solid #2C71F5;
	padding: 13px;
	width:180px;
	font-size: 15px;
	line-height: 1.385;
	border-radius: 35px;
	transition: all .4s ease;
}

.sub_login_button_style:hover {
	background-color: #2C71F5;
	color: #ffffff;
}

.sub_post_idea_button_style {
	font-size: 15px;
	color: #ffffff;
	background-color: #2C71F5;
	border: none;
	border-radius: 35px;
	padding: 10px 25px 10px 25px;
}

.sub_new_idea_button_style {
	font-size: 15px;
	color: #ffffff;
	width: 100%;
	background-color: #2C71F5;
	border: none;
	border-radius: 35px;
	padding: 10px;
}

.sub_username_profile_button {
	font-size: 15px;
	color: #2C71F5;
	background-color: #ffffff;
	border: solid 1px #2C71F5;
	border-radius: 35px;
	padding: 13px 25px 13px 25px;
	margin-left: 20px;
	transition: all .4s ease;
}

.sub_username_profile_button:hover {
	background-color: #2C71F5;
	color: #ffffff;
}

.sub_logout_button {
	font-size: 15px;
	color: #ec7063;
	background-color: #ffffff;
	border: solid 1px #ec7063;
	border-radius: 35px;
	padding: 13px 25px 13px 25px;
	margin-left: 10px;
	transition: all .4s ease;
}

.sub_logout_button:hover{
	color: #ffffff;
	background-color: #ec7063
}

.sub_block_user_button {
	font-size: 15px;
	color: #ffffff;
	background-color: #ec7063;
	padding: 13px 25px 13px 25px;
	border: solid 1px #ec7063;
}

.sub_admin_logout_button {
	font-size: 15px;
	color: #ec7063;
	background-color: #ffffff;
	border: solid 1px #ec7063;
	border-radius: 35px;
	padding: 0px 13px 0px 13px;
	margin-left: 10px;
	transition: all .4s ease;
}

.sub_admin_logout_button:hover{
	color: #ffffff;
	background-color: #ec7063
}

.sub_admin_name_button {
	font-size: 15px;
	color: #2C71F5;
	background-color: #ffffff;
	border: solid 1px #2C71F5;
	border-radius: 35px;
	padding: 0px 13px 0px 13px;
	margin-left: 20px;
	transition: all .4s ease;
}

.sub_admin_name_button:hover {
	background-color: #2C71F5;
	color: #ffffff;
}